<div class="block" id="block-forms"> 
	<div class="content"> 
    <h2 class="title">New Page</h2> 
    <div class="inner">
      <%= render 'form' %>
    </div>
  </div>
<%= link_to 'Back', admin_pages_path %>
</div>