html,body{background-color:#EEE;color:#567;}
#header{background-color:#DDD;}
h1{text-shadow:-1px -1px 1px #FFF;}
a{color:#123;text-decoration:none;}
a:hover{color:#89A;}

.container_12{overflow:hidden;background-color:#FFF;border-bottom:1px solid #DDD}
#navigation{font-size:0.9em;}
#navigation ul{list-style:none;background-color:#333;}
#navigation ul li{float:left;margin:1px;padding:0px;}
#footer{font-size:0.8em;}

.clear{clear:both;height:0;overflow:hidden;}
#flash_notice,#flash_error,#flash_alert{padding:5px 8px;margin:10px 0;}
#flash_notice{background-color:#CFC;border:solid 1px #6C6;}
#flash_error,#flash_alert{background-color:#FCC;border:solid 1px #C66;}
.fieldWithErrors{display:inline;}
.error_messages{width:400px;border:2px solid #CF0000;padding:0px;padding-bottom:12px;margin-bottom:20px;background-color:#f0f0f0;font-size:12px;}
.error_messages h2{text-align:left;font-weight:bold;padding:5px 10px;font-size:12px;margin:0;background-color:#c00;color:#fff;}
.error_messages p{margin:8px 10px;}
.error_messages ul{margin:0;}
